//RWD-size
$web-XL: 1550px;
$web-L: 1367px;
$web-M: 1280px;
$web-S: 1024px;
$pad: 768px;
$mobile-L: 568px;
$mobile-S: 375px;
$mobile-XS: 320px;

//color
// $primary-table: #f7f5f0;
// $primary-tint: #a19163;
// $primary-default: #88753f;
// $primary-dark: #5f4d1c;
// v2
// $primary-table: #f0f3f9;
// $primary-tint: #8392B4;
// $primary-default: #596B91;
// $primary-dark: #3f4e69;
// v3
// $primary-table: #e9f4f7;
// $primary-tint: #459eb0;
// $primary-default: #39737F;
// $primary-dark: #0E4B58;
//
// v4
// $primary-table: #fff7f0;
// $primary-tint: #bc8649;
// $primary-default: #a6651c;
// $primary-dark: #57350f;
// v5
$primary-table: #fdfaf2;
$primary-bg: #d0b66c;
$primary-tint: #aa8e41;
$primary-default: #88670c;
$primary-dark: #280101;
//
$secondary: #0b3259;
$complementary: #9fa0a0;
$ticket: #e9c65d;
$button: #ead69f;
$enable: #89cb4b;
$bk-20: #dcdddd;
$bk-10: #e5e5e5;
$bk-8: #ebebeb;
// --type v1 高彩
$performance: #b05f4f;
$exhibition: #90689c;
$screening: #5075be;
$auction: #548316;
// $book: #88753f;
$book: #a6651c;

// type v2 低彩
$performance: #a36666;
$exhibition: #6d7878;
$screening: #428079;
$auction: #90689c;
$book: #596b91;

//font-color
$text: #595757;
$notice: #da382d;

//font-size
// $size-h1: 1.625rem; //26px
// $size-h2: 1.5rem; //24px
// $size-h3: 1.375rem; //22px
// $size-h4: 1.25rem; //20px
// $size-h5: 1.125rem; //18px
$size-h1: 1.875rem; //30px
$size-h2: 1.75rem; //28px
$size-h3: 1.625rem; //26px
$size-h4: 1.375rem; //22px
$size-h5: 1.25rem; //20px
$size-p: 1rem; //16px
$size-caption: 0.875rem; //14px

//padding
$p-XXS: 8px;
$p-XS: 16px;
$p-S: 24px;
$p-M: 32px;
$p-L: 40px;
$p-XL: 56px;
$p-2L: 64px;

//margin
$m-XXS: 4px;
$m-XS: 12px;
$m-S: 20px;
$m-M: 36px;
$m-L: 48px;
$m-XL: 52px;
$m-2L: 60px;
