@import "./guideline";
@import "./mixin";

// 通用
* {
    @include all();
}
body.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 0 !important;
    position: relative;
    @include mobile-XS() {
        font-size: 0.875rem;
    }
    @include navbar();
    @include footer();
    @include breadcrumb();
    @include back-top();
    @include form();
    @include datepicker();
    @include table();
    @include searchbar();
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        padding-top: calc(123px + 32px);
        padding-bottom: $p-2L;
        @include web-S {
            padding-top: 123px;
        }
        @include pad {
            padding-top: 80px;
        }
        @include mobile-L {
            padding-bottom: $p-S;
        }
        section {
            width: 100%;
        }
        .brief-p {
            margin-bottom: $m-S;
        }
        &.main-clause{
            padding: 0;
            padding-top: $p-XS;
            @include mobile-L{
                padding: 0;
            }
        }
        //網站導覽
        .content-webmap {
            .container {
                .list-gp {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .text-gp {
                        width: 23%;
                        @include mobile-L() {
                            width: 100%;
                            margin-bottom: $p-XS;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        ul {
                            padding: $p-XS;
                            padding-top: $p-XXS;
                            list-style: none;
                            font-size: $size-p;
                            margin: 0;
                            margin-bottom: $m-S;
                            line-height: 2;
                            @include mobile-L() {
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                            a {
                                color: $primary-default;
                            }
                        }
                        .title {
                            display: block;
                            font-weight: bold;
                            font-size: $size-h4;
                            color: $primary-default;
                            background-color: $primary-table;
                            padding: $p-XXS $p-XS;
                            margin: 0;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
        // 一般
        .content-normal {
            ul:not(.nav, .breadcrumb) {
                padding: 0;
                li:not(.nav-item) {
                    line-height: 2;
                    color: $text;
                    list-style: decimal;
                    list-style-position: inside;
                }
            }

            h6 {
                margin-bottom: $p-XXS;
            }
            h4 {
                margin-bottom: $p-XXS;
            }
            h3,
            h4,
            h5 {
                margin-top: $m-S;
                margin-bottom: $p-XXS;
            }
        }
        // Banner
        .section-banner {
            max-width: 1110px;
            margin: auto;
            display: block !important;
            background-color: white !important;
            color: $text !important;
            padding: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        // 快速連結
        .section-fastlink {
            .btn-gp {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: $m-S;
                .btn-type {
                    width: 48%;
                    border: solid 1px $primary-tint;
                    border-radius: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: $p-M;
                    background-color: white;
                    box-shadow: 5px 5px 10px $primary-table;
                    @include mobile-L() {
                        width: 100%;
                        flex-wrap: wrap;
                        margin-bottom: $p-S;
                        padding: $p-S;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: contain;
                        margin-bottom: $m-XS;
                        @include pad {
                            width: 70px;
                            height: 70px;
                        }
                        @include mobile-L {
                            width: 60px;
                            height: 60px;
                        }
                    }
                    h3 {
                        margin-bottom: $m-XS;
                    }
                    .type {
                        background-color: $primary-table;
                        padding: $m-XXS $p-XS;
                        border-radius: 6px;
                        font-size: $size-caption;
                    }
                }
            }
        }
        // 申請類型
        .content-type {
            a {
                display: inline-block;
                font-weight: bold;
                font-size: $size-p;
                width: 100%;
                i {
                    margin-right: $p-XXS;
                    font-size: $size-p;
                    width: 16px;
                    height: 16px;
                    text-align: center;
                }
            }
            .taxbreak-gp {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: $m-S;
                .block {
                    width: 23%;
                    border: solid 1px $primary-tint;
                    border-radius: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: white;
                    box-shadow: 5px 5px 10px $primary-table;
                    @include pad {
                        width: 48%;
                        margin-bottom: $m-S;
                    }
                    @include mobile-L() {
                        width: 100%;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .top {
                        width: 100%;
                        text-align: center;
                        border-bottom: solid 1px $primary-default;
                        padding: $p-S $p-XS;
                        @include mobile-L {
                            padding: $p-XS;
                        }
                        img {
                            width: 80px;
                            height: 80px;
                            object-fit: contain;
                            margin-top: $m-XS;
                            margin-bottom: $p-XS;
                            @include pad {
                                width: 70px;
                                height: 70px;
                            }
                            @include mobile-L {
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                    .bottom {
                        width: 100%;
                        height: 100%;
                        min-height: 250px;
                        padding: $p-XS $p-S;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        @include pad {
                            min-height: initial;
                        }
                        @include mobile-L {
                            padding: $p-XS;
                        }
                        .info {
                            margin-bottom: $m-XS;
                            .title {
                                font-size: $size-p;
                                color: $primary-default;
                                font-weight: bold;
                            }
                            ul.number {
                                padding-left: $p-XS;
                                list-style-position: inside;
                                li {
                                    list-style-type: decimal;
                                    color: $text;
                                }
                            }
                        }
                        .btn-gp {
                            a {
                                margin-bottom: $m-XXS !important;
                            }
                        }
                        button {
                            width: 100%;
                            margin: 0;
                            margin-top: $m-XS;
                        }
                    }
                }
            }
            .text-gp {
                padding-top: $p-L;
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                h3 {
                    margin-bottom: $m-XS;
                }
                a {
                    line-height: 2;
                    display: inline-block;
                    width: auto;
                }
            }
            ul {
                padding-left: 0;
                list-style: none;
            }
        }

        // 資源連結
        .content-link {
            display: flex;
            flex-wrap: wrap;
            @include pad {
                justify-content: space-between;
            }
            h3 {
                width: 100%;
            }
            .block {
                width: 30%;
                border: solid 1px $secondary;
                padding: $p-XS;
                margin-right: $p-XS;
                margin-bottom: $p-XS;
                @include pad {
                    width: 48.5%;
                    margin-right: 0;
                }
                @include mobile-L {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 95px;
                    object-fit: contain;
                    margin-bottom: $m-XS;
                }
                .social {
                    display: flex;
                    justify-content: center;
                    margin-top: $m-XS;
                    img {
                        width: 25px;
                        height: 25px;
                        margin: 0 $p-XXS;
                        @include mobile-L {
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
                h5 {
                    margin: 0;
                    @include mobile-XS {
                        font-size: $size-p;
                    }
                }
                i {
                    color: $bk-20;
                    font-size: $size-h5;
                    margin-left: $p-XXS;
                }
            }
        }
        //登入
        .content-login {
            h2 {
                text-align: center;
            }
            .container {
                padding: 0;
                max-width: 600px;
                @include mobile-L {
                    margin: 0;
                    max-width: unset;
                    width: 100%;
                }
                .form-gp {
                    display: flex;
                    justify-content: space-between;
                    input[type="button"],
                    input[type="submit"] {
                        width: 47%;
                        @include mobile-L {
                            width: 100%;
                            margin-bottom: $m-XS;
                        }
                    }
                    .w-100 {
                        margin-top: $p-XS;
                        a {
                            margin: 0 $m-XS;
                            @include mobile-L {
                                display: block;
                                width: 100%;
                                margin: 0;
                                margin-bottom: $m-S;
                            }
                        }
                    }
                }
            }
        }
        //註冊、案件申請
        .content-signup {
            position: relative;
            h2 {
                text-align: center;
            }
            .way {
                display: inline-block;
                border: solid 1px $primary-tint;
                border-radius: 12px;
                text-align: center;
                padding: $p-S $p-XL;
                margin: $m-XS $m-XS $m-M $m-XS;
                background-color: white;
                box-shadow: 5px 5px 10px $primary-table;
                @include mobile-L() {
                }
                img {
                    width: 80px;
                    height: 80px;
                    object-fit: contain;
                    margin-bottom: $m-XS;
                    @include pad {
                        width: 70px;
                        height: 70px;
                    }
                    @include mobile-L {
                        width: 60px;
                        height: 60px;
                    }
                }
                h3 {
                    margin-bottom: 0;
                }
            }
            .step {
                width: 100%;
                // max-width: 600px;
                margin: auto;
                background-color: $primary-table;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: $m-M;
                padding: $p-XS 0;
                @include mobile-L {
                    margin-bottom: $m-S;
                }
                .btn-gp {
                    width: 100%;
                    max-width: 600px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .btn-step {
                        display: inline-block;
                        font-size: $size-h5;
                        background-color: transparent !important;
                        padding: $m-XXS $p-XXS;
                        border-radius: 6px;
                        font-weight: bold;
                        color: $primary-default;
                        @include mobile-L {
                            margin: 0 $m-XS;
                            text-align: center;
                        }
                        &.active {
                            border: solid 1px $primary-default;
                        }
                    }
                }
                .view-gp {
                    width: 100%;
                    max-width: 600px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include mobile-L {
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding: 0 $p-S;
                        align-items: stretch;
                    }
                    button {
                        margin: 0 $p-XXS;
                        height: initial;
                        padding: 0 $m-XS;
                        min-height: 40px;
                        @include mobile-L {
                            width: 48%;
                            justify-content: space-between;
                            margin: 0;
                            margin-bottom: $m-XS;
                            height: initial;
                            padding: $p-XXS $p-XXS;
                            &:last-child,
                            &:nth-last-child(2) {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            .container {
                padding: 0;
                max-width: 600px;
                @include mobile-L {
                    margin: 0;
                    max-width: unset;
                    width: 100%;
                }

                form {
                    background-color: unset;
                    h3 {
                        margin-top: $m-XS;
                        margin-bottom: $m-S;
                    }
                    .type-title {
                        margin-bottom: $m-S;
                        h3 {
                            padding: $p-XXS $p-XS;
                            padding-left: 0;
                            padding-top: $p-XS;
                            border-bottom: solid 3px $ticket;
                            color: $ticket;
                            margin-top: 0;
                        }
                    }
                    ul.ps {
                        padding: $p-XS 0;
                        padding-left: $p-XS;
                        margin-bottom: 0;
                        li {
                            list-style-position: outside;
                            list-style-type: disc;
                            color: $primary-tint;
                            line-height: 1.75;
                        }
                    }
                    .place-gp {
                        margin-bottom: $m-S;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .place-header {
                            background-color: rgba($color: $primary-tint, $alpha: 1);
                            color: white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 40px;
                            .title {
                                font-size: $size-h4;
                                color: white;
                                font-weight: bold;
                                padding: 0 $p-XS;
                                color: inherit;
                            }
                            a {
                                color: white;
                                line-height: 40px;
                                padding: 2px $p-XS;
                                font-size: $size-h5;
                                font-weight: bold;
                                color: inherit;
                                i {
                                    margin-right: $p-XXS;
                                }
                            }
                        }
                        .place-body {
                            padding: $p-S;
                            background-color: rgba($color: $ticket, $alpha: 0.075);
                        }
                    }
                    // button
                    a {
                        &.add {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 40px;
                            font-size: $size-h5;
                            padding: $m-XXS $p-XS;
                            border-radius: 4px;
                            border: none;
                            font-weight: bold;
                            cursor: pointer;
                            margin-top: $m-XS;
                            background-color: $primary-default;
                            color: white;
                            @include mobile-L {
                                width: 100%;
                            }
                            .fas {
                                margin-right: $m-XS;
                            }
                        }
                        &.download-file {
                            font-size: $size-p;
                            padding: $p-XXS $p-XS;
                            margin-right: $m-S;
                            text-align: left;
                            border: solid 1px $primary-tint;
                            border-radius: 6px;
                            color: $primary-tint;
                            margin-top: $p-XXS;
                            i {
                                margin-right: $p-XXS;
                            }
                        }
                    }
                }
                .check-curriculum {
                    border: solid 1px $secondary;
                    margin-bottom: $m-M;
                    padding: $m-XS $p-XS;
                    .title {
                        font-size: $size-h3;
                        color: $primary-dark;
                        font-weight: bold;
                    }
                }
            }
        }
        //註冊成功
        .content-sign-up-success {
            .container {
                height: inherit;
                text-align: center;
                padding: $p-XL 0;
                p {
                    text-align: center;
                    @include pad() {
                        margin-top: $m-XS;
                    }
                }
                img {
                    width: 80px;
                    margin-bottom: $m-XS;
                }
                h2 {
                    margin-bottom: 0;
                }
                .btn {
                    margin: $m-XS 0;
                }
            }
        }
        // 會員專區
        .content-member {
            .container {
                .member-gp {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: $m-S;
                    margin-bottom: $m-M;
                    @include pad {
                        margin-bottom: $m-S;
                    }
                    a {
                        display: inline-block;
                    }
                    h3 {
                        margin-bottom: 0;
                    }
                    .block {
                        width: 23%;
                        border: solid 1px $primary-tint;
                        border-radius: 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        display: block;
                        background-color: white;
                        box-shadow: 5px 5px 10px $primary-table;
                        text-align: center;
                        padding: $p-S $p-XS;
                        @include mobile-L {
                            padding: $p-XS;
                        }
                        @include pad {
                            margin-bottom: $m-XS;
                            padding: $p-XS;
                        }
                        @include mobile-L() {
                            width: 48%;
                        }
                        img {
                            width: 60px;
                            height: 60px;
                            object-fit: contain;
                            margin-top: $m-XS;
                            margin-bottom: $p-XS;
                            @include pad {
                                width: 50px;
                                height: 50px;
                            }
                            @include mobile-L {
                                width: 45px;
                                height: 45px;
                            }
                            @include mobile-XS {
                                width: 40px;
                                height: 40px;
                            }
                        }

                        &.half {
                            border: none;
                            box-shadow: none;
                            background-color: none;
                            padding: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: solid 1px $primary-tint;
                                background-color: white;
                                box-shadow: 5px 5px 10px $primary-table;
                                border-radius: 12px;
                                width: 100%;
                                height: 44%;
                                @include mobile-L {
                                    height: 46%;
                                }
                            }
                            img {
                                width: 30px;
                                height: 30px;
                                margin-right: $p-XXS;
                            }
                        }
                        h3 {
                            margin-bottom: 0;
                            @include pad {
                                font-size: $size-h5;
                            }
                        }
                    }
                }

                .totalnum {
                    margin-bottom: $m-XXS;
                    color: $primary-default;
                }
                .case-list {
                    margin-top: $m-XS;
                    table {
                        margin-bottom: $m-XS;
                        tbody {
                            tr {
                                td {
                                    vertical-align: middle;
                                    input[type="checkbox"] {
                                        margin: 0;
                                        margin-top: 4px;
                                    }
                                    p {
                                        line-height: 1.5;
                                    }
                                    .function {
                                        padding-left: $p-XXS;
                                        display: flex;
                                        @include pad {
                                            width: auto;
                                        }
                                        @include mobile-L {
                                            padding-left: 0;
                                            flex-wrap: wrap;
                                            align-items: start;
                                            margin-top: $m-XS;
                                        }
                                        a.link {
                                            margin-right: $m-XS !important;
                                            @include mobile-L {
                                                border: solid 1px $primary-default;
                                                padding: $m-XXS $p-XXS;
                                                border-radius: 4px;
                                                margin-bottom: $p-XXS;
                                                margin-right: $p-XXS !important;
                                                &.notice {
                                                    border: solid 1px $notice;
                                                }
                                            }
                                            &:last-child {
                                                margin-right: 0 !important;
                                            }
                                            span {
                                                font-weight: bold;
                                            }
                                            i {
                                                width: 15px;
                                                font-size: $size-caption;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-between;
                        margin-top: $m-S;
                        @include mobile-L {
                            flex-wrap: wrap;
                        }
                        .btn-gp {
                            @include mobile-L {
                                width: 100%;
                            }

                            button {
                                font-size: $size-p;
                                height: 33px;
                                padding: 0 $m-XS;
                                margin-right: $p-XXS;
                                @include mobile-L {
                                    width: 100%;
                                    margin-right: 0;
                                    font-size: $size-h5;
                                    height: 40px;
                                    margin-bottom: $p-XS;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                        .pagination {
                            margin-top: 0;
                            @include mobile-L {
                                margin-top: $m-S;
                            }
                        }
                    }
                }
                .add-admin-gp {
                    margin-bottom: $m-M;
                    form {
                        width: 100%;
                        padding: $p-S;
                        background-color: rgba($color: $ticket, $alpha: 0.1);
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                        margin-top: $m-S;
                        margin-bottom: $p-XXS;
                        @include pad {
                            flex-wrap: wrap;
                        }
                        @include mobile-L {
                            margin-bottom: $m-XS;
                        }
                        .form-gp {
                            margin-bottom: 0;
                            width: 21%;
                            @include pad {
                                width: 47%;
                                margin-bottom: $m-XS;
                            }
                            @include mobile-L {
                                width: 100%;
                            }
                            input,
                            label {
                                display: inline-block;
                                width: 100%;
                            }
                        }
                        input[type="submit"] {
                            margin: 0;
                            @include mobile-L {
                                width: 100% !important;
                                margin-top: $m-XS;
                            }
                        }
                    }
                }
            }
        }
    }
}
