@import "./guideline";
@import "./mixin";

// 通用
* {
    @include all();
}
body.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 0 !important;
    position: relative;
    @include mobile-XS() {
        font-size: 0.875rem;
    }
    @include navbar();
    @include footer();
    @include breadcrumb();
    @include back-top();
    @include form();
    @include datepicker();
    @include table();
    @include searchbar();
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        padding-top: calc(123px + 32px);
        padding-bottom: $p-2L;
        @include web-S {
            padding-top: 123px;
        }
        @include pad {
            padding-top: 80px;
        }
        @include mobile-L {
            padding-bottom: $p-S;
        }
        section {
            width: 100%;
        }
        .brief-p {
            margin-bottom: $m-S;
        }
        //網站導覽
        .content-webmap {
            .container {
                .list-gp {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .text-gp {
                        width: 23%;
                        @include mobile-L() {
                            width: 100%;
                            margin-bottom: $p-XS;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        ul {
                            padding: $p-XS;
                            padding-top: $p-XXS;
                            list-style: none;
                            font-size: $size-p;
                            margin: 0;
                            margin-bottom: $m-S;
                            line-height: 2;
                            @include mobile-L() {
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                            a {
                                color: $primary-default;
                            }
                        }
                        .title {
                            display: block;
                            font-weight: bold;
                            font-size: $size-h4;
                            color: $primary-default;
                            background-color: $primary-table;
                            padding: $p-XXS $p-XS;
                            margin: 0;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
        // 一般
        .content-normal {
            ul:not(.nav, .breadcrumb) {
                padding: 0;
                li:not(.nav-item) {
                    line-height: 2;
                    color: $text;
                    list-style: decimal;
                    list-style-position: inside;
                }
            }

            h6 {
                margin-bottom: $p-XXS;
            }
            h4 {
                margin-bottom: $p-XXS;
            }
            h3,
            h4,
            h5 {
                margin-top: $m-S;
                margin-bottom: $p-XXS;
            }
            img {
                margin-top: $m-XS;
            }
            .nav.nav-pills {
                padding: 0;
                .nav-item {
                    margin: $p-XXS;
                    margin-left: 0;
                    @include mobile-L {
                        margin: $p-XS;
                        margin-left: 0;
                    }
                    a.tab {
                        border: solid 1px $secondary;
                        padding: $m-XXS $p-XXS;
                        font-size: $size-p;
                        color: black;
                        border-radius: 4px;
                        @include mobile-L {
                            font-size: $size-h5;
                        }
                    }
                    .active {
                        background-color: rgba($color: $secondary, $alpha: 0.1);
                    }
                }
            }
            .tab-content {
                background-color: rgba($color: $secondary, $alpha: 0.1);
                padding: $p-XS $p-S;
                margin-top: $m-XS;
                .tab-pane {
                    h4:not(:first-child) {
                        margin-top: $m-XS;
                    }
                    a {
                        width: 100%;
                        line-height: 2;
                    }
                }
                button {
                    margin: $m-XS 0;
                    width: 15%;
                    @include mobile-L {
                        width: 100%;
                    }
                }
            }
            .btn-gp {
                margin-top: $m-S;
                button {
                    margin-right: $m-XS;
                }
            }
            .icon-gp {
                display: flex;
                flex-wrap: wrap;
                margin-top: $m-S;
                a {
                    margin-right: $m-S;
                    margin-bottom: $m-S;
                    img {
                        width: 40px;
                        height: 40px;
                        margin: 0;
                    }
                }
            }
            iframe {
                width: 100%;
                margin-top: $m-XS;
            }
        }
        // Banner
        .section-banner {
            max-width: 1110px;
            margin: auto;
            display: block !important;
            background-color: white !important;
            color: $text !important;
            padding: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        // 快速連結
        .section-fastlink {
            .btn-gp {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: $m-S;
                .btn-type {
                    width: 48%;
                    border: solid 1px $primary-tint;
                    border-radius: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: $p-M;
                    background-color: white;
                    box-shadow: 5px 5px 10px $primary-table;
                    @include mobile-L() {
                        width: 100%;
                        flex-wrap: wrap;
                        margin-bottom: $p-S;
                        padding: $p-S;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: contain;
                        margin-bottom: $m-XS;
                        @include pad {
                            width: 70px;
                            height: 70px;
                        }
                        @include mobile-L {
                            width: 60px;
                            height: 60px;
                        }
                    }
                    h3 {
                        margin-bottom: $m-XS;
                    }
                    .type {
                        background-color: $primary-table;
                        padding: $m-XXS $p-XS;
                        border-radius: 6px;
                        font-size: $size-caption;
                    }
                }
            }
        }

        // 資源連結
        .section-link {
            display: flex;
            flex-wrap: wrap;
            @include pad {
                justify-content: space-between;
            }
            h3 {
                width: 100%;
            }
            .block {
                width: 30%;
                border: solid 1px $secondary;
                padding: $p-XS;
                margin-right: $p-XS;
                margin-bottom: $p-XS;
                @include pad {
                    width: 48.5%;
                    margin-right: 0;
                }
                @include mobile-L {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 95px;
                    object-fit: contain;
                    margin-bottom: $m-XS;
                }
                .social {
                    display: flex;
                    justify-content: center;
                    margin-top: $m-XS;
                    img {
                        width: 25px;
                        height: 25px;
                        margin: 0 $p-XXS;
                        @include mobile-L {
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
                h5 {
                    margin: 0;
                    @include mobile-XS {
                        font-size: $size-p;
                    }
                }
                i {
                    color: $bk-20;
                    font-size: $size-h5;
                    margin-left: $p-XXS;
                }
            }
        }
        //登入
        .content-login {
            h2 {
                text-align: center;
            }
            .container {
                padding: 0;
                max-width: 600px;
                @include mobile-L {
                    margin: 0;
                    max-width: unset;
                    width: 100%;
                }
                .form-gp {
                    display: flex;
                    justify-content: space-between;
                    input[type="button"],
                    input[type="submit"] {
                        width: 47%;
                        @include mobile-L {
                            width: 100%;
                            margin-bottom: $m-XS;
                        }
                    }
                    .w-100 {
                        margin-top: $p-XS;
                        a {
                            margin: 0 $m-XS;
                            @include mobile-L {
                                display: block;
                                width: 100%;
                                margin: 0;
                                margin-bottom: $m-S;
                            }
                        }
                    }
                }
            }
        }
        //註冊、案件申請
        .content-signup {
            position: relative;
            h2 {
                text-align: center;
            }
            .way {
                display: inline-block;
                border: solid 1px $primary-tint;
                border-radius: 12px;
                text-align: center;
                padding: $p-S $p-XL;
                margin-top: $m-XS;
                margin-bottom: $m-M;
                background-color: white;
                box-shadow: 5px 5px 10px $primary-table;
                @include mobile-L() {
                }
                img {
                    width: 80px;
                    height: 80px;
                    object-fit: contain;
                    margin-bottom: $m-XS;
                    @include pad {
                        width: 70px;
                        height: 70px;
                    }
                    @include mobile-L {
                        width: 60px;
                        height: 60px;
                    }
                }
                h3 {
                    margin-bottom: 0;
                }
            }
            .step {
                width: 100%;
                // max-width: 600px;
                margin: auto;
                background-color: $primary-table;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: $m-M;
                padding: $p-XS 0;
                @include mobile-L {
                    margin-bottom: $m-S;
                }
                .btn-gp {
                    width: 100%;
                    max-width: 600px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // padding: 0 $p-XXS;
                    .btn-step {
                        display: inline-block;
                        font-size: $size-h5;
                        background-color: transparent !important;
                        padding: $m-XXS $p-XXS;
                        border-radius: 6px;
                        font-weight: bold;
                        color: $primary-default;
                        @include mobile-L {
                            margin: 0 $m-XS;
                            text-align: center;
                        }
                        &.active {
                            border: solid 1px $primary-default;
                        }
                    }
                }
            }
            .container {
                padding: 0;
                max-width: 600px;
                @include mobile-L {
                    margin: 0;
                    max-width: unset;
                    width: 100%;
                }

                form {
                    background-color: unset;
                    h3 {
                        margin-top: $m-XS;
                        margin-bottom: $m-S;
                    }
                    .type-title {
                        margin-bottom: $m-S;
                        h3 {
                            padding: $p-XXS $p-XS;
                            padding-left: 0;
                            padding-top: $p-XS;
                            border-bottom: solid 3px $ticket;
                            color: $ticket;
                            margin-top: 0;
                        }
                    }
                    ul.ps {
                        padding: $p-XS 0;
                        padding-left: $p-XS;
                        margin-bottom: 0;
                        li {
                            list-style-position: outside;
                            list-style-type: disc;
                            color: $primary-tint;
                            line-height: 1.75;
                        }
                    }
                    .place-gp {
                        margin-bottom: $m-S;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .place-header {
                            background-color: rgba($color: $primary-tint, $alpha: 1);
                            color: white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 40px;
                            .title {
                                font-size: $size-h4;
                                color: white;
                                font-weight: bold;
                                padding: 0 $p-XS;
                                color: inherit;
                            }
                            a {
                                color: white;
                                line-height: 40px;
                                padding: 2px $p-XS;
                                font-size: $size-h5;
                                font-weight: bold;
                                color: inherit;
                                i {
                                    margin-right: $p-XXS;
                                }
                            }
                        }
                        .place-body {
                            padding: $p-S;
                            background-color: rgba($color: $ticket, $alpha: 0.075);
                        }
                    }
                    // button
                    a {
                        &.add {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 40px;
                            font-size: $size-h5;
                            padding: $m-XXS $p-XS;
                            border-radius: 4px;
                            border: none;
                            font-weight: bold;
                            cursor: pointer;
                            margin-top: $m-XS;
                            background-color: $primary-default;
                            color: white;
                            @include mobile-L {
                                width: 100%;
                            }
                            .fas {
                                margin-right: $m-XS;
                            }
                        }
                        &.download-file {
                            font-size: $size-p;
                            padding: $p-XXS $p-XS;
                            margin-right: $m-S;
                            text-align: left;
                            border: solid 1px $primary-tint;
                            border-radius: 6px;
                            color: $primary-tint;
                            margin-top: $p-XXS;
                            i {
                                margin-right: $p-XXS;
                            }
                        }
                    }
                }
                .check-curriculum {
                    border: solid 1px $secondary;
                    margin-bottom: $m-M;
                    padding: $m-XS $p-XS;
                    .title {
                        font-size: $size-h3;
                        color: $primary-dark;
                        font-weight: bold;
                    }
                }
            }
        }
        //註冊成功
        .content-sign-up-success {
            .container {
                height: inherit;
                text-align: center;
                padding: $p-XL 0;
                p {
                    text-align: center;
                    @include pad() {
                        margin-top: $m-XS;
                    }
                }
                img {
                    width: 80px;
                    margin-bottom: $m-XS;
                }
                h2 {
                    margin-bottom: 0;
                }
                .btn {
                    margin: $m-XS 0;
                }
            }
        }
        // 會員專區
        .content-member {
            .container {
                .section-member {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .block {
                        width: 200px;
                        margin-bottom: $m-S;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-right: $m-S;
                        @include web-S {
                            margin: 0 $m-S $m-S $m-S;
                        }
                        @include pad {
                            width: 30%;
                            margin: 0 $m-S $m-S 0;
                        }
                        @include mobile-L {
                            width: 40%;
                            margin: 0 $m-XS $m-S $m-XS;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            max-width: 200px;
                            max-height: 200px;
                        }
                        h4 {
                            text-align: center;
                            margin-top: $p-XXS;
                        }
                    }
                }
                .totalhours {
                    color: $notice;
                    margin-top: $p-XS;
                }
            }
        }
    }
}
